body {
  background-color: #FFFFFF;
}


img {
  max-width: 100%;
  height: auto;
}

#top-jumbotron {
  background-color: #FFFFFF;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.wrapper {
  background-color: #FFFFFF;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: .3rem;
}
